.info-table img {
	display: none;
}
.info-table td {
    text-align: center;
    vertical-align: middle;
}
#fff #fa {
	display: none;
}
.oldie {
	display: block;
	visibility: visible;
}
#dntn {
	display: none;
}
p .link{
	display: none;
}
#biz {
	display: none;
}
.info-table {
    text-align: center; 
    vertical-align: middle;
 }
