#cookie_note {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 15px;
    left: 50%;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

#cookie_note p {
    margin: 0;
    font-size: 0.7rem;
    text-align: left;
    color: black;
}

#cookie_note .btn-sm {
    display: block;
    margin: 0 auto;
}

.cookie_accept {
    width: 20%;
}

#cookie_note.show {
    display: flex;
}
		.inter-tight-<uniquifier> {
			font-family: "Inter Tight";
			font-optical-sizing: auto;
			font-weight: <weight>;
			font-style: normal;
		}
		
		.info-table-mobile{
			display: none;
		}
		#pic{
			 border-radius: 50%;
			 display: inline-block;
		}
		.center{
			text-align: center;
		}
		footer{
			flex: 0 0 auto;
			min-height: 130px;
			background: #000;
			background-color: rgb(0, 0, 0);
			background-position-x: 0%;
			background-position-y: 0%;
			background-repeat: repeat;
			background-attachment: scroll;
			background-image: none;
			background-size: auto;
			background-origin: padding-box;
			background-clip: border-box;
		}
		.copywright{
			text-align: center;
			color: #999;
			margin-bottom: 40px;
			font-size: 15pt;
			font-family: "Inter Tight";
		}
		.fd {
			margin-top: 20%;
			text-align: center;
			color: #999;
			font-family: "Inter Tight"; 
			max-width: 500px;
			margin: auto;
		}
		.fa{
			color: #999 !important;
			font-weight: bold;
			font-size: 17pt;
		}
		#adpc1{
				position: absolute;
				margin-left: 3%;			
			}
		#pic-mob{
				display: none;
			}
		.ft-mob{
				display: none;
			}
		#fff{
			visibility: hidden;
		}
		
		input button{
			font-size: 21px;
		}
		#biz{
			max-width: 720px;
		}
		@media only screen and (max-device-width: 900px) {
			#adpc1{
				display: none;
			}
			.content{
				max-width: 800px;
			}
			.info-table{
				display: none;
			}
			.info-table-mobile{
				display: inline-block;
				max-width: 150px;
				margin-left: 5%
			}
			#pic{
				
			}
			.ft-mob{
				display: inline-block;
			}
			.copywright{
			font-size: 13pt;
			}
		.fa{
			font-size: 11pt;
			}
		.ft-ex{
				display: none;
			}
		.ft-mob{
			display: inline-block;
			}
		#fff{
			visibility: visible;
		}
		.head-table{
			font-size: 12.7pt;
			}
		#biz{
			max-width: 320px;
		}
		#infotext{
		margin-left: 1%;
		margin-right: 1%;
		}
		}
